.Wrapper {
  list-style: none;
  box-sizing: border-box;
  padding-left: var(--spacing);
  margin-bottom: -1px;

  &.clone {
    display: inline-block;
    pointer-events: none;
    padding: 5px 0 0 10px;

    .TreeItem {
      --vertical-padding: 0px;

      padding-right: 24px;
      border-radius: 4px;
      box-shadow: 0 15px 15px 0 rgba(34, 33, 81, 0.1);
    }
  }

  &.ghost {
    opacity: 0.5;

    .TreeItem > * {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.TreeItem {
  --vertical-padding: 0px;

  position: relative;
  height: 38px;
  display: flex;
  align-items: center;
  padding: var(--vertical-padding) 10px;
  background-color: #ffffff;
  margin-bottom: 2px;
  margin-top: 1px;
  color: #e5e5e6;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #f7f9fc, rgba(242, 244, 247, 0));
  }
}

.Text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1f2e4d;
  font-weight: 400;
}

.Count {
  font-weight: 400;
  color: #1f2e4d;
}

.disableInteraction {
  pointer-events: none;
}

.dropTarget {
  border: 1px dashed #2389ff;
}

.active {
  background: linear-gradient(180deg, #f7f9fc, rgba(242, 244, 247, 0));
}

.disableSelection,
.clone {
  .Text,
  .Count {
    user-select: none;
    -webkit-user-select: none;
  }
}

.Collapse {
  svg {
    transition: transform 250ms ease;
  }

  &.collapsed svg {
    transform: rotate(-90deg);
  }
}

.menu :global(.mantine-Menu-item) {
  @apply bg-main-500 text-[#1f2e4d];
  font-size: 14px;
}

.menu :hover:global(.mantine-Menu-item) {
  @apply font-semibold text-[#00175b];
}
